@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
	width: 100%;
	padding: 30px 40px;
	background: #c0c0c0;
	text-align: center;
}

header:after {
	content: "";
   display: table;
  clear: both;
}

h1 {
	color: rgba(175, 47, 47, 0.25);
}

input{
	width: 75%;
	float: left;
	border: none;
	padding: 10px;
}

button {
	width: 25%;
	float: left;
	border: none;
	padding: 10px;
	cursor: pointer;
}

button:hover {

}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	position: relative;
	font-size: 16px;
	padding: 12px 8px 12px 40px;
	background: #f5f5f5;
	font-size: 18px;
	border-bottom: 1px solid #c0c0c0;

}

ul li.checked {
	background-color: #aaa;
	text-decoration: line-through;
}

.remove {
	position: absolute;
	top: 0;
	right: 0;
	padding: 12px 16px 12px 16px;
	background: #f5f5f5;
	cursor: pointer;
}

.remove:hover {
	background-color: #ff5555;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width:100%;
	background: #c0c0c0;
}

p {
	padding: 0 40px;
	font-size: 16px;
}